* {
    box-sizing: border-box;
}

/* font-size viewport dependant for mobile */
h2 {
    font-size: 5vw;
}
p {
    margin-left: 2vw;
    font-size: 5vw;
    height: 60%;
    overflow: hidden;
    text-align: start;
}
a { 
    font-size: 5vw;
    color: inherit;
    text-align: right;
} 

/* Create two columns that floats next to each other */
.column1 {
    float: left;
    width: 20%;
    background-image: linear-gradient(#fa739d,#c52a5a);
    text-align: center;
}

.column2 {
    float: left;
    width: 80%;
	  background-color: red;
    background-image: linear-gradient(white,#ebbbca);
    text-align: right;
}

/* actual box for time/description */
.rectangle {
		width: 100%;
		height: 40vw;

    text-align: inherit; 
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0.2), rgba(255,0,0,0));

    /* wrap text */
    word-wrap: break-word;
	
		/* hide text that is too long with */
		text-overflow: ellipsis;
		overflow: hidden;
}
.rectange:hover { 
    color: yellow;
}


  

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.currentDate {
  font:4vw 'Roboto'; 
  font-weight:300; 
  display:block; 
  margin-top: 1vw; 
  margin-bottom: 1vw; 
  text-align:center; 
  letter-spacing:1px;
}
.vspace {
  height=10vw;
  margin-bottom=10cm;
  float:center; 
  width:4vw; 
  text-align:center; 
}

/* for events */
.eventview {
    float: left;
    width: 100%;
    padding: 40px;
    background-image: linear-gradient(white,#ebbbca);
    text-align: left;
}
