* {
    box-sizing: border-box;
}

/* font-size viewport dependant for mobile */
h2 {
    font-size: 5vw;
}
p {
    margin-left: 2vw;
    font-size: 5vw;
}
a { 
    color: inherit;
} 

/* Create two columns that floats next to each other */
.column1 {
    float: left;
    width: 20%;
    background-image: linear-gradient(#fa739d,#c52a5a);


    text-align: center;
}

.column2 {
    float: left;
    width: 80%;
	  background-color: red;
    background-image: linear-gradient(white,#ebbbca);
}

/* actual box for time/description */
.rectangle {
		width: 100%;
		height: 40vw;
    
    margin 0;

    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0.2), rgba(255,0,0,0));

    /* wrap text */
    word-wrap: break-word;
	
		/* hide text that is too long with */
		text-overflow: ellipsis;
		overflow: hidden;
}
.rectange:hover { 
    color: yellow;
}


  

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
