<div class="event-create-container" id="eventcreate-dropdown-container" style="visibility: hidden; opacity: 0;">
    <div class=event-create-title>
        Kalendereintrag erstellen
    </div>
    <form class="options-container" id="event-form" method="POST" action="/eventcreate">
        <span class=eventcreate-small> <div class=option-name>Name: 	</div> <input type="text"	name="title"       	class="option-input" required> </span>
        <span class=eventcreate-small> <div class=option-name>Ort:      </div> <input type="text"	name="location"    	class="option-input"> </span>
        
		<!-- Startzeit -->
		<span class=eventcreate-small>
			<div class=option-name>Startzeit:</div>
			<input id="start-date-picker" type="date" name="start-date" class="option-input" onchange="checkEndDate(event)" required>
			<input id="start-time-picker" type="time" name="start-time" class="option-input" onchange="checkEndDate(event)" value="00:00" required>
		</span>
        
		<!-- Endzeit -->
		<span class=eventcreate-small>
			<div class=option-name>Endzeit:</div>
			<input id="end-date-picker" type="date" name="end-date" class="option-input" onchange="checkStartDate(event)">
			<input id="end-time-picker" type="time" name="end-time" class="option-input" onchange="checkStartDate(event)" value="00:00">
		</span>
		
        <span class=eventcreate-small> <div class=option-name>Kategorie:</div> <input type="text" 	name="type"  		class="option-input"> </span>
        <span> Beschreibung:<br><textarea rows="4" cols="30" name="description"></textarea></span>
    	<div id="button-container" class="button-container">
	    <input value="Erstellen" id="submitButton" type=submit></input>
    	<input class=middle-button value="Zurücksetzen" type=reset></input>
    	<input value="Abbrechen"    type=button onclick="cancle()"></button>
    	</div>
    </form>
</div>
<div class="dropdown-button dropdown-button-overwrite" id="eventcreate-dropdown-button">
	+
</div>
