* {
    box-sizing: border-box;
}

body {
  background: #749d9e; 
  background: -webkit-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -o-linear-gradient(#749d9e, #b3a68b)!important; 
  background: -moz-linear-gradient(#749d9e, #b3a68b)!important; 
  background: linear-gradient(#749d9e, #b3a68b)!important;
  background: #332f2e; 
}

/* font-size viewport dependant for mobile */
h2 {
    font-size: 5vw;
}
p {
    margin-left: 2vw;
    font-size: 5vw;
    height: 60%;
    overflow: hidden;
    text-align: start;
}
a { 
    font-size: 5vw;
    color: inherit;
    text-align: right;
} 

/* Create two columns that floats next to each other */
.column1 {
    float: left;
    width: 20%;
    background-image: linear-gradient(#fa739d,#c52a5a);
    text-align: center;
    margin-bottom: 8vw;
}

.column2 {
    float: left;
    width: 80%;
	background-color: red;
    background-image: linear-gradient(white,#ebbbca);
    text-align: right;
    margin-bottom: 8vw;
}

/* actual box for time/description */
.rectangle {
	width: 100%;
    height: 50vw;

    text-align: inherit; 
    display: inline-block;
    vertical-align: middle;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0.2), rgba(255,0,0,0));

    /* wrap text */
    word-wrap: break-word;
	
	/* hide text that is too long with */
	text-overflow: ellipsis;
	overflow: hidden;

    padding: 2vw;
}
.rectange:hover { 
    color: yellow;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.currentDate {
    font: 5vw 'Roboto'; 
    font-weight:300; 
    display:block; 
    margin-top: 1vw; 
    margin-bottom: 1vw; 
    text-align: center; 
    letter-spacing:1px;
}

/* for events */
.eventview {
    font-size: 4vw;
    float: left;
    width: 100%;
    padding: 40px;
    background-image: linear-gradient(white,#ebbbca);
    text-align: left;
}

.menubarLink {
    font-size: 7vw !important;
    text-decoration: none !important;
}

.menubar {
    color: white;
    background-color: #39464e;
	padding: 2vw;
}

.menubarDate {
    color: white;
    background-color: #39464e;
	padding: 2vw;
    position: fixed;
    bottom: 0;
    z-index: 999;
    margin-right: 1vw;
    width: 98.5%;
}

.hidden {
    display: none;
}

@media(min-width: 800px){

    h2 {
        font-size: 20px;
    }
    
    p {
        margin-left: 10px;
        font-size: 20px;
    }

    a { 
        font-size: 20px;
    } 

    .row {
        width: 60%;
        margin: auto;
        margin-bottom: 80px;
        margin-top: 20px;
        max-width: 600px;
    }
    
    .column1 {
        margin-bottom: 10px;
    }
    
    .column2 {
        margin-bottom: 10px;
    }
    
    .rectangle {
        height: 240px;
        padding: 10px;
    }
    
    .currentDate {
        font-size: 20px;
        font-weight:300; 
        display:block; 
        margin-top: 5px; 
        margin-bottom: 5px; 
        text-align: center; 
        letter-spacing:1px;
    }
    
    /* for events */
    .eventview {
        font-size: 10px;
        float: left;
        width: 100%;
        padding: 40px;
        background-image: linear-gradient(white,#ebbbca);
        text-align: left;
    }
    
    .menubarLink {
        font-size: 40px !important;
        text-decoration: none !important;
    }
    
    .menubar {
    	padding: 10px;
    }
    
    .menubarDate {
    	padding: 10px;
        width: 100%;
		margin-left: -8px;
    }
    
}
