body{
    background: #323232;
}

span{
    margin-top: 5px;
    width: 100%;
    display: inline-block;
    line-height: 40px; /* 75% of height */
    font-weight: bold;
}

.eventcreate-small {
	width: 100%;
}

input{
    height: 40px; /*Desired height*/
	font-family: unset;
	font-size: 25px;
    cursor: pointer;
	float:left;
}

textarea {
	font-size: inherit;
}

.button-container {
    width: 100%;
    margin-top: 20px;
}

.option-name {
	width: 28%;
	float: left;
}

.options-container{
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 100%;
    overflow-y: overlay;
}

.event-create-container {
    /*display: none;*/
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width:  97%;
	font-size: 20px;
    background: linear-gradient(#749d9e, #b3a68b)!important;
    border-radius: 10px;
    padding: 20px;
    max-width: 900px;
    transition: opacity 250ms linear;
	font-size: 25px;
    margin-bottom: 10px;
}

.event-create-title {
    font-size: 35px;
    font-family: monospace;
    margin-bottom: 10px;
}

.dropdown-button{
	position: fixed;
	bottom:   0;
	right:	  0;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	font-size: 50px;
	background-color: red;
	z-index: 5;
}

.dropdown-button:hover{
    opacity: 0.5;
}

.middle-button{
    margin-left: 5%;
    margin-right: 5%;
}

@media(max-width: 1000px){
    .event-create-title {
        font-size: 5vw;
    }
    .event-create-container {
    	font-size: 4vw;
        border-radius: 1vw;
        padding: 3vw;
    }
    .option-name{
        width: 20%;
        margin-bottom: 6vw;
    }
    span{
        margin-top: 1vw;
        line-height: unset;
    }
    input{
        font-size: 4vw;
        height: unset;
    }
}
