body{
    background: #323232;
}

button{
    background-color: red;
    border-color: red;
    color: black;
    font-size: 20px;
    font-weight: bold;
	margin-left: auto;
	margin-right: auto;
	align: center;
}

hr{
    margin-top: 20px;
    border-color: black;
}

span{
    margin-top: 5px;
    width: 100%;
    display: inline-block;
    line-height: 40px; /* 75% of height */
    font-size: 20;
	font-family: italic;
}

.eventcreate-small {
	width: 45%;
}

input[type="checkbox"]{
    width: 40px; /*Desired width*/
    height: 40px; /*Desired height*/

    background: grey;
    border-radius: 10px;    
    
	font-family: unset;
	font-size: 25px;
    cursor: pointer;
	float:left;
}

textarea {
	font-size: inherit;
}

.button-container {
    margin: auto;
	width: 300px;
}

.option-name {
	width: 30%;
	float: left;
}

.options-container{
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 100%;
    overflow-y: overlay;
}

.event-create-container {
    display: none;
    position: absolute;
	margin-left: 5%;
    background-color: #f9f9f9;
	padding: 5px;
    z-index: 1;
    width:  90%;
	font-size: 25px;
}

.dropdown-button{
	position: fixed;
	bottom:   0;
	right:	  0;
	margin: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 5px;
	font-size: 50px;
	background-color: red;
}