<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>ATHQ-single</title>
    <link rel="stylesheet" href="{}/day.css">
    <script defer src="{}/site.js"></script>
  </head>
  <body>
    <div id="offlineInfo"><b>OFFLINE MODUS</b></div>    
    <div class="menubar">                                                                           
        <a class=menubarLink href="{}"> &laquo &laquo Tagesübersicht &laquo &laquo </a>
    </div>
      <div class="eventview">
            {}
      </div>
    </div>
   </body>
</html>
