<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    <title>ATHQ</title>
    <link rel="stylesheet" href="/static/month.css">
    <script defer src="/static/site.js"></script>
    <script defer src="/static/ical.js"></script>
  </head>
  <body>
    <div id="offlineInfo"><b>OFFLINE MODUS</b></div>    
    <div class="jzdbox1 jzdbasf jzdcal">
    <div class="headerbar">
        <div class="jzdcalt prev">
            <a class="bigLink" href={{ previousMonth }}>&laquo;&laquo;</a>    
        </div>
        <div class="jzdcalt">{{ currentMonth }}</div>
        <div class="jzdcalt next">
            <a class="bigLink" href={{ nextMonth }}>&raquo;&raquo;</a>
        </div>
    </div>
      <span>Mo</span>
      <span>Di</span>
      <span>Mi</span>
      <span>Do</span>
      <span>Fr</span>
      <span>Sa</span>
      <span>So</span>
      {{ monthOverview }}
    <div class="vspace">
        &nbsp; </br>
    </div>
    <div class="currentDate" id="time">
          Datum/Uhrzeit nicht verfügbar.
    </div>
    </div>
  </body>
</html>
