<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    {% include 'head.html' %}
    <link rel="stylesheet" href="/static/css/day.css">
    <link rel="stylesheet" href="/static/css/eventCreate.css">
    <script src="/static/js/eventCreate.js" defer></script>
  </head>
  <body>

    {% include 'partials/eventCreate.html' %}

    <!-- hidden URLs for ussage in javascript -->
    {% if nextDayLink and prevDayLink %}
    <div class="hidden" id="nextDay">{{ nextDayLink }}</div>
    <div class="hidden" id="prevDay">{{ prevDayLink }}</div>
    {% endif %}

    <!-- Navbar -->
    {% if thisMonthLink %}
    <div class="menubar">                                                                           
        <a class=menubarLink href={{ thisMonthLink }}> 
            &laquo &laquo Monatsübersicht &laquo &laquo
        </a>
    </div>
    {% endif %}

    <!-- main events container -->
    <div class="row">
        <div class="column1">
        
        {# times-strings will be created in advance because     #}
        {# because of some quirks with the behaviour of all-day #}
        {# and repeating event in different calendars           #}

        {% for s in preparedTimeStrings %}
            <div class=rectangle>
                <p>{{ s }}</p>
            </div>
        {% endfor %}
        </div>
        <div class="column2">
        {% for e in events %}
            <div class=rectangle>
                <p>
                    {{ e.get("SUMMARY") }}
                    <i>{{ e.get("LOCATION") }}</i>
                </p>
                <a class="details-link" href=/eventview?uid={{ e.get("UID") }}>Details</a>
            </div>
        {% endfor %}
        </div>
    </div>

    <!-- navbar at bottom -->
    {% if dateOfView %}
    <div class="menubarDate" id="menubarDate">
        <div class=currentDate>{{ dateOfView }}</div>
    </div>
    {% endif %}

  </body>
</html>
