<script>
    function cancle(){
    	 document.getElementById("event-form").reset()
    }

    function submit(){
        document.getElementById("event-form").submit()
    }
</script>
<div id="main-container" class="main-container">
    <div class="main-title">
        Kalendereintrag bearbeiten
    <div>
    <form class="options-container" id="event-form" method="POST">
        <span> Name:          <input name="title"       type="text" class="option-input"> </span>
        <span> Beschreibung:  <input name="description" type="text" class="option-input"> </span>
        <span> Ort:           <input name="location"    type="text" class="option-input"> </span>
        <hr>
        <span> Startzeit:   <input type="date" name="start" class="option-input"> </span>
        <span> Endzeit:     <input type="date" name="end"   class="option-input"> </span>
        <span> Kategorie:   <input type="text" name="type"  class="option-input"> </span>
    </form>
    <hr>
    <div id="button-container" class="button-container">
        <button onclick="submit()">Erstellen</button>
        <button onclick="cancle()">Abbrechen</button>
    </div>
</div>
