<!DOCTYPE html>
<html lang="en" >
  <head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/static/css/month.css">
  </head>
  <body>
    <div class="calendar-box">
        <div class="headerbar">
            <div class="month-selection prev">
                <a class="bigLink" href={{ hrefPrevMonth }}>&laquo;&laquo;</a>    
            </div>
            <div class="month-selection">{{ currentMonthString }}</div>
            <div class="month-selection next">
                <a class="bigLink" href={{ hrefNextMonth }}>&raquo;&raquo;</a>
            </div>
        </div>
        <div class=day-container>
          <span>Mo</span>
          <span>Di</span>
          <span>Mi</span>
          <span>Do</span>
          <span>Fr</span>
          <span>Sa</span>
          <span>So</span>
          
          {# weekday padding (start) #}
          {% for x in range(0, paddingStart) %}
            <span class="day-padding"><!-- Day in this week not in this month --></span>
          {% endfor %}
          
          {# actual month #}
          {% for mark in eventsOnDay %}
            {% set day = loop.index %}
            {% if mark %}
            <a href={{ "/dayview?year={}&month={}&day={}".format(year, month, day) }}>
                    <span id="day-{{ day }}" class="circle-enclosed">{{ day }}</span>
                </a>
            {% else %}
                <span id="day-{{ day }}">{{ day }}</span>
            {% endif %}
         
          {% endfor %}

          {# weekday padding (end) #}
          {% for x in range(0, paddingEnd) %}
            <span class="day-padding">o<!-- Day in this week not in this month --></span>
          {% endfor %}

        </div>

        <div class="currentDate" id="time">
              Datum/Uhrzeit nicht verfügbar.
        </div>
        </div>
  </body>
</html>
