<!DOCTYPE html>
<html lang="en" >
  <head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/static/css/day.css">
    <link rel="stylesheet" href="/static/css/eventCreate.css">
    <script src="/static/js/eventCreate.js" defer></script>
  </head>
  <body>
    {% if not readonly %}
        {% include 'partials/eventCreate.html' %}
    {% endif %}
	
	{% include 'partials/offlineIdentifier.html' %}
    <div class="menubar">                                                                           
      <a class=menubarLink href="{{ backlinkDayView }}">
        &laquo &laquo Tagesübersicht &laquo &laquo
      </a>
    </div>
      <div class="eventview">
        <b>
            {{ event.get("SUMMARY") }}
            </br>
            </br>
        </b>
        <i>
            {% if event.get("gmaplink") %}
            <a target="_blank" href="{{ event.get("gmaplink") }}"> Ort: {{ event.get("LOCATION") }} </a>
            {% else %}
                Ort: {{ event.get("LOCATION") }}
            {% endif %}
            </br>
            </br>
        </i>
        <hr>
        </br>
        <b>
            Beschreibung:
        </b>
        </br>
        <div class=description>
            {{ event.get("DESCRIPTION") }}
        </div>
		{% if event.get("lockEdit") %}
			<div id="event-edit-link" style="float: right; text-decoration: underline;">Editing not availible</div>
		{% else %}
			<a id="event-edit-link" style="float: right;" href=/eventedit?uid={{ event.get("uid") }}>Edit</a>
		{% endif %}
      </div>
    </div>
   </body>
</html>
