<!DOCTYPE html>
<html lang="en" >
  <head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/static/css/day.css">
    <script defer src="/static/js/site.js"></script>
  </head>
  <body>
    <div class="menubar">                                                                           
      <a class=menubarLink href="{{ backlinkDayView }}">
        &laquo &laquo Tagesübersicht &laquo &laquo
      </a>
    </div>
      <div class="eventview">
        <b>
            {{ event.get("SUMMARY") }}
            </br>
            </br>
        </b>
        <i>
            Ort: {{ event.get("LOCATION") }}
            </br>
            </br>
        </i>
        <hr>
        </br>
        <b>
            Beschreibung:
        </b>
        </br>
        {{ event.get("DESCRIPTION") }}
      </div>
    </div>
   </body>
</html>
