<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="UTF-8">
    {% include 'head.html' %}
    <link rel="stylesheet" href="/static/css/day.css">
    <link rel="stylesheet" href="/static/css/week.css">
    <link rel="stylesheet" href="/static/css/eventCreate.css">
    <script src="/static/js/eventCreate.js" defer></script>
    <script src="/static/js/monthview.js" defer></script>
  </head>
  <body>
    {% if not readonly %}
        {% include 'partials/eventCreate.html' %}
    {% endif %}

    <!-- hidden URLs for ussage in javascript -->
    <div class="hidden" id="nextDay">{{ nextDayLink }}</div>
    <div class="hidden" id="prevDay">{{ prevDayLink }}</div>

    <!-- Navbar -->
    <div class="menubar">                                                                           
        <a class=menubarLink href="{{ thisMonthLink }}"> 
            &laquo &laquo Monatsübersicht &laquo &laquo
        </a>
    </div>
    
    <!-- main events container -->
    <div class="row weekday-rows">
        {% for eventList in weekEventLists %}
            <div class="column2 lock-size">
            <div class="rectangle weekday-name">{{ weekdayNames[loop.index] }}</div>
            {% for e in eventList %}
                <div class="rectangle weekday">
		    {% set time = e.get('dtstart').dt %}
		    {% set timeend = e.get('dtend').dt %}
            	    {% set timeStr = time.strftime("%H:%M") %}
		    <div class="week-event-time">{{ timeStr }}{% if timeend %} - {{ timeend.strftime("%H:%M") }}{% endif %}</div>
                    <p>
                        <i>@{{ e.get("LOCATION") }}</i>
                        <br>
			{{ e.get("SUMMARY") }}<br>
                    </p>
                    <a style="float: right; text-decoration: underline; font-size: 20px; margin-right: 5px;" href=/eventview?uid={{ e.get("UID") }}>Details</a>
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </div>

    <!-- navbar at bottom -->
    <div class="menubarDate" id="time">
        <div class=currentDate>Nicht verfügbar.</div>
    </div>

  </body>
</html>
